.s-about {
  margin-bottom: 11.2rem;
  .container {
    @include flex(row, center, space-between);
    .about-img {
      img {
        max-width: 100%;
        max-width: 40rem;
      }
    }
    .about-text {
      h2 {
        margin-bottom: 1.6rem;
      }
      p {
        width: 100%;
        max-width: 72.2rem;
        font-size: 2.4rem;
        line-height: 150%;
        color: $gray600;
        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  @include responsive(1200px) {
    .container {
      justify-content: space-around;
      gap: 3.2rem;
      .about-img {
        img {
          max-width: 32rem;
        }
      }
      .about-text {
        p {
          max-width: 64rem;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {
      @include flex(column, center, center);
      .about-text {
        @include flex(column, center, center);
        p {
          text-align: center;
        }
      }
    }
  }

  @include responsive(468px) {
    .container {
      .about-text {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
