header {
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  height: 9.4rem;
  z-index: 2022;
  display: flex;
  .container {
    @include flex(row, center, space-between);
    .logo {
      img {
        width: 100%;
        max-width: 25.2rem;
      }
    }
    .menu {
      @include flex(row, center, center);
      ul {
        @include flex(row, center, center);
        margin-right: 4rem;
        li {
          &:not(:last-child) {
            margin-right: 4rem;
          }
          a {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 125%;
            color: $gray800;
            transition: color 0.3s;
            &:hover {
              color: $brand-primary-light;
            }
          }
        }
      }
    }
    .menu__mobile {
      display: none;
    }
  }
  @include responsive(991px) {
    .container {
      .menu {
        ul {
          margin-right: 1.6rem;
          li {
            &:not(:last-child) {
              margin-right: 1.6rem;
            }
          }
        }
      }
      .btn-primary {
        font-size: 1.4rem;
        padding: 0.4rem 1.6rem;
      }
    }
  }

  @include responsive(768px) {
    .container {
      .menu {
        display: none;
      }
      .menu__mobile {
        display: block;
      }
    }
  }

  @include responsive(468px) {
    .container {
      .logo {
        img {
          max-width: 20rem;
        }
      }
    }
  }
}
