.s-projects {
  margin-bottom: 11.2rem;
  .projects {
    margin-top: 4rem;
    @include flex(row, center, space-around);
    flex-wrap: wrap;
    gap: 3.2rem;
    .project-item {
      @include flex(column, center, center);
      text-align: center;
      .project-img {
        img {
          max-width: 38.4rem;
          background: $brand-primary;
          border-radius: 1.6rem;
        }
      }
      .project-text {
        margin: 1.6rem 0 2.4rem 0;
        max-width: 38.4rem;
        h3 {
          margin-bottom: 0.8rem;
        }
      }
      .project-link {
        @include flex(row, center, center);
        gap: 0.8rem;
        a {
          color: $brand-primary;
          transition: color 0.3s;
          &:hover {
            color: $brand-primary-light;
          }
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      @include flex(column, center, center);
    }
  }

  @include responsive(468px) {
    .container {
      &>h2, &>h3{
        text-align: center;
      }
      .projects {
        .project-img {
          img {
            max-width: 32rem;
          }
        }
      }
    }
  }
}
