// colors

$brand-primary: #3f2b96;
$brand-primary-medium: #7259e3;
$brand-primary-light: #a490fc;
$brand-primary-clearer: #d3cafc;
$brand-secundary: #d4ba22;
$brand-gradient: linear-gradient(
  140deg,
  rgba(63, 43, 150, 1) 0%,
  rgba(114, 89, 227, 0.5) 35%,
  rgba(211, 202, 252, 0.8) 100%
);

// Gray scale

$gray800: #34323e;
$gray700: #4b4a56;
$gray600: #62616e;
$gray500: #797885;
$gray400: #918f9d;
$gray300: #a8a6b4;
$gray200: #bebccb;
$gray100: #d6d5e3;

// Base

$white: #fff;
$black: #000;
